/* .logar{
    margin-left: 420px;
    margin-right: 400px;
    max-width: 500px;
    text-align: center;
    background-color: rgb(207, 201, 206);
    font-size: 30px;
    font-weight: 80;
    color: rgb(4, 24, 2);
    height: 400px;
    border-radius: 20px;
    font-family: sans-serif;
}

.btn-sucess{
    width: 140px;
    color: rgb(8, 116, 80);

}
.login{
    height: 450px;
    background: radial-gradient(rgb(48, 119, 34), #fff, rgb(203, 212, 66) ); 
} */